* {
   margin:0;
   padding:0;
}

body {
   font-family: verdana, sans-serif;
}

#everything {
   margin: 0 auto;
   text-align: left;
   width: 950px;
   padding: 0 10px;
}

#bottom {
   clear: both;
    color: #999999;
    font-size: 10px;
    padding: 20px 0 10px 28px;
}