* {
   margin:0;
   padding:0;
}

body {
   font-family: arial, sans-serif;
   font-size: 16px;
   color: #8a8a89;
}

html, body {
   height: 100%;
}

#wrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -41px;
}

#footer, #push {
   height: 40px;
}

#header {
   background-color: #e9e8e2;
   border-bottom: 1px solid #bfbeb9;
}

#footer {
   background-color: #e16c63;
   border-top: 1px solid #bfbeb9;
}

.main-content {
   width: 950px;
   padding: 0 10px;
   margin: 0 auto;
}

#main {
   padding-bottom: 20px;
}

#header span {
   visibility: hidden;
}

#header h1 {
   height: 28px;
   width: 270px;
   background: transparent url('../images/buttons-etc.png') 0px -24px no-repeat;
}

#header .main-content {
   padding: 20px 0 12px;
}

#footer .main-content {
   font-size: 10px;
   color: #ccc;
   text-align: right;
   position: relative;
}

#footer-bg, #footer-bg2 {
   position: absolute;
   height: 700px;
   top: -700px;
   left: 0;
   width: 950px;
}

#footer-bg {
   z-index: -2;
}

#footer-bg2 {
   z-index: -1;
}

h2 {
   font-size: 25px;
   color: #fa6060;
   font-weight: normal;
}

p {
   color: #8a8a89;
}

.sabpanel {
   background-color: rgba(240, 240, 240, 0.9);
   border: 1px solid #ccc;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -o-border-radius: 4px;
   padding: 18px 28px;
}

a.button {
   display: block;
   height: 38px;
   color: white;
   background: url('../images/buttons-etc.png') right -142px no-repeat;
   padding-right: 7px;
   text-decoration: none;
}

a.button span {
   padding-left: 7px;
   text-align: center;
   display: block;
   height: 38px;
   line-height: 38px;
   background: url('../images/buttons-etc.png') left -142px no-repeat;
}

a.button:hover {
   background-position: right -105px;
}

a.button:hover span {
   background-position: left -105px;
}

a.link {
   color: #72cc48;
   text-decoration: none;
}

a.link:hover {
   text-decoration: underline;
}

