* {
   margin:0;
   padding:0;
}

body {
   font-family: arial, sans-serif;
   font-size: 16px;
   color: #8a8a89;
}

html, body {
   height: 100%;
}

#wrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -41px;
}

#footer, #push {
   height: 40px;
}

#header {
   background-color: #e9e8e2;
   border-bottom: 1px solid #bfbeb9;
}

#footer {
   background-color: #e16c63;
   border-top: 1px solid #bfbeb9;
}

.main-content {
   width: 950px;
   padding: 0 10px;
   margin: 0 auto;
}

#main {
   padding-bottom: 20px;
}

#header span {
   visibility: hidden;
}

#header h1 {
   height: 28px;
   width: 270px;
   background: transparent url('../images/buttons-etc.png') 0px -24px no-repeat;
}

#header .main-content {
   padding: 20px 10px 12px;
}

#footer .main-content {
   font-size: 10px;
   color: #ccc;
   text-align: right;
   position: relative;
}

#footer-bg, #footer-bg2 {
   position: absolute;
   height: 700px;
   top: -700px;
   left: 0;
   width: 950px;
}

#footer-bg {
   z-index: -2;
}

#footer-bg2 {
   z-index: -1;
}

h2 {
   font-size: 25px;
   color: #fa6060;
   font-weight: normal;
}

p {
   color: #8a8a89;
}

.sabpanel {
   background-color: rgb(240, 240, 240);
   background-color: rgba(240, 240, 240, 0.9);
   border: 1px solid #ccc;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -o-border-radius: 4px;
   padding: 18px 28px;
}

a.button {
   display: block;
   height: 38px;
   color: white;
   background: url('../images/buttons-etc.png') right -465px no-repeat;
   padding-right: 7px;
   text-decoration: none;
}

a.button span {
   padding-left: 7px;
   text-align: center;
   display: block;
   height: 38px;
   line-height: 38px;
   background: url('../images/buttons-etc.png') left -143px no-repeat;
}

a.button:hover {
   background-position: right -426px;
}

a.button:hover span {
   background-position: left -104px;
   color: #6E6D6D;
}

a.link {
   color: #72cc48;
   text-decoration: none;
}

a.link:hover {
   text-decoration: underline;
}

#copyright {
   padding-top: 24px;
}

#footer .follow-links {
   float: left;
   margin-top: 3px;
   width: 150px;
}

#headerright {
   float: right;
   margin-top: -4px;
}

#headerright p {
   font-size: 14px;
   color: #b1afaf;
   margin-bottom: 2px;
}

a.share {
   display: block;
   float: left;
   height: 47px;
   background: url('../images/buttons-etc.png') left no-repeat;
   text-decoration: none;
}

a.fb {
   margin-right: 8px;
   width: 190px;
   background-position: left -317px;
}

a.fb:hover {
   background-position: left -364px;
}

a.twitter {
   width: 186px;
   background-position: left -219px;
}

a.twitter:hover {
   background-position: left -266px;
}

a.share span {
   visibility: hidden;
}

.follow-links p {
   line-height: 33px;
   float: left;
   margin: 0 6px 0 0;
   color: #ddd;
   font-size: 14px;
}

.follow-links a {
   text-decoration: none;
   height: 33px;
   float: left;
   margin: 0 0 0 4px;
   background: url('../images/fb-twitter-smaller.png') no-repeat;
}

.follow-links .tw {
   width: 39px;
   background-position: -36px top;
}

.follow-links .fb {
   width: 33px;
   background-position: left top;
}

.follow-links .tw:hover {
   background-position: -36px -33px;
}

.follow-links .fb:hover {
   background-position: left -33px;
}