#footer-bg2 {
   background: transparent url('../images/protestors.png') 140px 380px no-repeat;
}

#pledgepanel {
   float: left;
   width: 400px;
}

.sabpanel p {
   margin: 18px 0;
}

.formrow {
   margin-top: 24px;
}

input {
   display: block;
   border: 1px #ccc solid;
   font-family: inherit;
   font-size: 16px;
   padding: 4px;
   width: 390px;
   color: inherit;
   margin-top: 4px;
}

#dollar_sign {
   float: left;
   margin-top: 4px;
   width: 12px;
   text-align: right;
}

#id_amount {
   margin-left: 16px;
   width: 374px;
}

.clear {
   clear: both;
   font-size: 2px;
}

div.button-container {
   margin-top: 10px;
   padding-top: 10px;
}

a.button span {
   padding: 0 8px 0 16px;
}

a.button {
   float: right;
}

.input-container {
   position: relative;
   overflow: visible;
}

div.errormsg {
   position: absolute;
   right: 20px;
   bottom: 32px;
   padding-bottom: 5px;
   background: url('../images/error.png') bottom right no-repeat;
}

div.errormsg div {
   background-color: #cfcec7;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   padding: 2px 8px;
   color: white;
}


#rightside {
   margin-left: 480px;
}

.sabpanel {
   margin-top: 30px;
}

#fb-follow {
   width: 190px;
}

#tw-follow {
   float: right;
   margin-top: 10px;
   display: block;
   width: 200px;
   height: 37px;
   text-decoration: none;
   background: url('../images/twitter_logo.png') no-repeat;
}

#tw-follow span {
   visibility: hidden;
}