#footer-bg {
   background: #fff url('../images/et.jpg') right bottom no-repeat;
}

#footer-bg2 {
   background: transparent url('../images/protestors.png') left 408px no-repeat;
}

#pledgepanel {
   float: left;
   width: 400px;
}

.sabpanel p {
   margin: 18px 0;
}

.formrow {
   margin-top: 24px;
}

input {
   display: block;
   border: 1px #ccc solid;
   font-family: inherit;
   font-size: 16px;
   padding: 4px;
   width: 390px;
   color: inherit;
   margin-top: 4px;
}

#dollar_sign {
   float: left;
   margin-top: 4px;
   width: 12px;
   text-align: right;
}

#id_amount {
   margin-left: 16px;
   width: 374px;
}

.clear {
   clear: both;
   font-size: 2px;
}

div.button-container {
   margin-top: 10px;
   padding-top: 10px;
}

a.button span {
   padding: 0 8px 0 16px;
}

a.button {
   float: right;
}

.input-container {
   position: relative;
   overflow: visible;
}

div.errormsg {
   position: absolute;
   right: 20px;
   bottom: 32px;
   padding-bottom: 5px;
   background: url('../images/error.png') bottom right no-repeat;
}

div.errormsg div {
   background-color: #cfcec7;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   padding: 2px 8px;
   color: white;
}

a.share {
   display: block;
   float: left;
   height: 47px;
   background: url('../images/buttons-etc.png') left no-repeat;
   text-decoration: none;
}

a.fb {
   margin-right: 8px;
   width: 190px;
   background-position: left -295px;
}

a.fb:hover {
   background-position: left -342px;
}

a.twitter {
   width: 186px;
   background-position: left -201px;
}

a.twitter:hover {
   background-position: left -248px;
}

a.share span {
   visibility: hidden;
}

#rightside {
   margin-left: 480px;
}

.sabpanel {
   margin-top: 30px;
}
