#footer-bg {
   background: #fff url('../images/et.jpg') right bottom no-repeat;
}

#footer-bg2 {
   background: transparent url('../images/protestors.png') left 408px no-repeat;
}

#invitationpanel {
   margin-top: 30px;
   width: 380px;
}

#invitationpanel p {
   margin: 24px 0;
}

