#footer-bg {
   background: #fff url('../images/et.jpg') right bottom no-repeat;
}

#footer-bg2 {
   background: transparent url('../images/protestors.png') left 408px no-repeat;
}

#invitationpanel {
   margin: 30px 0;
   width: 400px;
}

#invitationpanel p {
   margin: 24px 0;
}

a.twitter {
   float: right;
}

a.share {
   margin: 0;
}

div.clear {
   font-size: 2px;
   clear: both;
}

div.share {
   padding: 18px 8px 0;
}