#middle .main-content {
   background: #fff url('../images/et.jpg') right bottom no-repeat;
}

#westboro {
   position: absolute;
   left: 10px;
   bottom: -80px;
   width: 800px;
   height: 480px;
   background: transparent url('../images/protestors.png') left bottom no-repeat;
}

#invitationpanel {
   position: absolute;
   top: 30px;
   left: 10;
   width: 380px;
}

#invitationpanel p {
   margin: 24px 0;
}

