body {
  margin: 0;
  background-image: url("../images/liz2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #16100e;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 34px;
  width: 960px; }

body .h2 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20px;
  color: #343434;
  padding: 15px; }

.block {
  /* Fallback for web browsers that doesn't support RGBa */
  background-color: black;
  /* RGBa with 0.5 opacity */
  background-color: rgba(255, 255, 255, 0.5);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  text-align: center;
  width: 430px;
  height: 100%;
  margin-left: 15px;
  float: left; }

.some-button,
button.some-button:active {
  background-color: #3ab100;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2a7f00), to(#3ab100));
  background: -moz-linear-gradient(#f9f9f9, #dfdfdf);
  border: 0px solid #adadad;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: Helvetica;
  font-size: 25px;
  text-shadow: 0 1px 1px #FFF;
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  font-weight: bold; }

.some-button:hover {
  background-color: #3a9e02;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2a6901), to(#3a9e02));
  background: -moz-linear-gradient(#2a6901, #3a9e02); }
