#mainimage {
   position: relative;
}

img.wbc {
   width: 950px;
   height: 345px;
}

div.leftdiv {
   position: absolute;
   top: 0;
   left: 0;
   height: 345px;
   background-color: white;
   opacity: 0.8;
   text-align: center;
   padding: 24px;
}

p.bigpoint {
   font-size: 48px;
   font-weight: bold;
   margin: 0;
}

.bigpoint-container {
   position: relative;
}

.bigpoint-spacer {
   visibility: hidden;
}

.bigpoint-content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

div.main {
   margin-top: 12px;
}

div.side {
   border-radius: 12px;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   -o-border-radius: 12px;
   padding: 16px;
   color: white;
}

div.side h2 {
   font-size: 20px;
   line-height: 22px;
   margin-bottom: 12px;
}

div.donate {
   background-color: #a8c15c;
   float: left;
   width: 441px;
}

div.donate a {
   display: block;
   background-color: #00598F;
   color: white;
   padding: 12px;
   width: 180px;
   margin: 18px auto 6px;
   text-decoration: none;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   -o-border-radius: 8px;
   text-align: center;
   font-weight: bold;
}

div.donate a:hover {
   text-decoration: underline;
}

div.encourage {
   background-color: #6fbbaa;
   margin-left: 485px;
}

p {
   margin: 12px 0;
}

div.share {
   margin-top: 18px;
   padding-left: 20px;
   clear: both;
}