<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Sponsor a Bigot</title>
    <link rel="stylesheet" href="{{MEDIA_URL}}css/base.css"/>
    {% block css %}{% endblock %}
  </head>
  <body>
    <div id="everything">
      {% block content %}{% endblock %}
      <div id="bottom">
        &copy; 2011 Adam Duston. All rights reserved.
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21848784-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = 'http://www.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% block script %}{% endblock %}    
  </body>
</html>
