{% load humanize %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml" 
      xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta property="og:title" content="Sponsor a Bigot"/>
    <meta property="og:type" content="cause"/>
    <meta property="og:url" content="http://sponsorabigot.org/"/>
    <meta property="og:image" content="{{MEDIA_URL}}images/fbimage.jpg"/>
    <meta property="og:site_name" content="Sponsor a Bigot"/>
    <meta property="fb:app_id" content="{{facebook_app_id}}"/>
    <meta property="og:description"
          content="Help us turn Westboro's protest of Liz Taylor's public funeral 
                   into a fundraising bonanza for the Elizabeth Taylor AIDS 
                   Foundation."/>
    <title>Sponsor a Bigot</title>
    <link rel="stylesheet" href="{{MEDIA_URL}}css/base.css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}css/amount_bar.css"/>
    {% block css %}{% endblock %}
    <!--[if IE]>
    <style>
      .sabpanel {
          background-color: transparent;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eef0f0f0 endColorstr=#eef0f0f0);
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#eef0f0f0, endColorstr=#eef0f0f0)";
      }
    </style>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div class="main-content">
          <div id="headerright">
            <p>{{amount|intcomma}} of ${{amount_goal|intcomma}} raised</p>
            {% include "_amount_bar.html" %}
          </div>
          <h1><span>Sponsor a Bigot</span></h1>
        </div>
      </div>
      <div id="main" class="main-content">{% block content %}{% endblock %}</div>
      <div style="clear:both">&nbsp;</div>
      <div id="push">&nbsp;</div>
    </div>
    <div id="footer">
      <div class="main-content">
        <div id="footer-bg">&nbsp;</div>
        <div id="footer-bg2">&nbsp;</div>
        <div id="copyright">
          <span>&#169; 2011 Adam Duston. All rights reserved.</span>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21848784-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = 'http://www.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      var FACEBOOK_APP_ID = '{{facebook_app_id}}';
      var POPUP_REDIRECT_URL = 'http://sponsorabigot.org{% url main:closewindow %}';
      var FB_IMAGE = '{{MEDIA_URL}}images/fbimage.jpg';
      var TOTAL_AMOUNT = {{amount}};
      var TOTAL_AMOUNT_GOAL = {{amount_goal}};
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    {% block script %}{% endblock %}    
  </body>
</html>
