{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/donate0.css"/>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{MEDIA_URL}}js/share.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.watermark.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.form.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/donate0.js"></script>
{% endblock %}

{% block content %}
<h1>Since they're going to show up anyway, we hope they stay as long as possible.</h1>
<div class="explanation">
  <div class="round donate">
    <h2>Donate to the Elizabeth Taylor AIDS Foundation for every hour they spend protesting.</h2>
    <p>Disgusted by Westboro? So are we! Help us turn their protest into a fundraising bonanza for the <a href="http://www.elizabethtayloraidsfoundation.org/" target="etaf">Elizabeth Taylor AIDS Foundation</a>.</p>
  </div>
  <div class="round encourage">
    <h2>Planning to be at the funeral? </h2>
    <p>For every hour WBC spends protesting, more money is going to a great foundation! During the service, we'll be sending out live tweets with the amount of money they've raised.</p>
    <p>Cheer them on to protest for as long as possible!</p>
  </div>
</div>
<div class="pledge">
  <div id="firstPage">
    <form action="{% url main:pledge %}" method="post" id="pledge_form">
      {% csrf_token %}
      <div class="errorlist" id="email_errors"></div>
      <div class="formrow"><label for="id_email">My email is:</label>{{form.email}}</div>
      <div class="errorlist" id="amount_errors"></div>
      <div class="formrow">
        <label for="id_amount">
          For every hour Westboro protests Liz Taylor's memorial service,
          I pledge to donate to the <a href="http://www.elizabethtayloraidsfoundation.org/" target="etaf">Elizabeth Taylor AIDS Foundation</a>:
        </label>
        <div>
          <div id="dollar_sign">$</div>
          {{form.amount}}
        </div>
      </div>
      <p>
        <button><span id="submit_label">Submit</span></button>
      </p>
    </form>
  </div>
  <div id="secondPage" style="display:none">
    <p>
      We have sent you an email confirmation. Please click on the link 
      in the email to confirm that your email address is real.
    </p>
    {% include "_share.html" %}
  </div>
</div>
{% endblock %}
