{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/donate.css"/>
{% endblock %}

{% block content %}
<div id="westboro">&nbsp;</div>
<div id="pledgepanel" class="sabpanel">
  <h2>
    Since they're going to show up anyway, we hope they stay as long as possible.
  </h2>
  <p>
    Disgusted by Westboro? So are we! Help us turn their protest into a
    fundraising bonanza for the 
    <a href="http://elizabethtayloraidsfoundation.org/" target="etaf" class="link">Elizabeth Taylor AIDS Foundation</a>.
  </p>
  <form action="{% url main:pledge %}" method="post" id="pledge_form">
    {% csrf_token %}
    <div class="errorlist" id="email_errors"></div>
    <div class="formrow">
      <label for="id_email">Email:</label>
      {{form.email}}
    </div>
    <div class="errorlist" id="amount_errors"></div>
    <div class="formrow">
      <label for="id_amount">
        For every hour Westboro protests Liz Taylor's memorial service,
        I pledge to donate to the <a href="http://www.elizabethtayloraidsfoundation.org/" target="etaf" class="link">Elizabeth Taylor AIDS Foundation</a>:
      </label>
      <div>
        <div id="dollar_sign">$</div>
        {{form.amount}}
      </div>
    </div>
    <button><span id="submit_label">Submit</span></button>
    <div class="clear">&nbsp;</div>
  </form>
</div>
{% endblock %}

{% block script %}

{% endblock %}
