{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/donate.css"/>
{% endblock %}

{% block content %}
<div id="westboro">&nbsp;</div>
<div id="pledgepanel" class="sabpanel">
  <div id="firstPage">
    <h2>
      Donate to the Elizabeth Taylor AIDS Foundation for every hour they spend protesting.
    </h2>
    <p>
      Disgusted by Westboro? So are we. Help us turn their protest into a
      fundraising bonanza for the 
      <a href="http://elizabethtayloraidsfoundation.org/" target="etaf" class="link">Elizabeth Taylor AIDS Foundation</a>.
    </p>
    <form action="{% url main:pledge %}" method="post" id="pledge_form">
      {% csrf_token %}
      <div class="formrow">
        <label for="id_email">Email:</label>
        <div class="input-container">
          <div class="errormsg" style="display:none" id="email_errors"><div></div></div>
          {{form.email}}
        </div>
      </div>
      <div class="formrow">
        <label for="id_amount">
          For every hour Westboro protests Liz Taylor's memorial service,
          I pledge to donate to the <a href="http://www.elizabethtayloraidsfoundation.org/" target="etaf" class="link">Elizabeth Taylor AIDS Foundation</a>:
        </label>
        <div class="input-container">
          <div class="errormsg" style="display:none" id="amount_errors"><div></div></div>
          <div id="dollar_sign">$</div>
          {{form.amount}}
        </div>
      </div>
      <div class="button-container">
        <a class="button" href="javascript:void();"><span id="submit_label">Submit</span></a>
        <div class="clear">&nbsp;</div>
      </div>
    </form>
  </div>
  <div id="secondPage" style="display:none">
    <h2>Thank you for being part of the solution.</h2>
    <p>
      We have sent you an email confirmation. Please click on the link 
      in the email to confirm that your email address is real.
    </p>
    {% include "_share.html" %}
  </div>
</div>
<div id="rightside">
  <div class="sabpanel">
    <h2>Since they're going to show up anyway, we hope they stay as long as possible.</h2>
    <p>For every hour WBC spends protesting, more money is going to a great foundation. During the service, we'll be sending out live updates with the amount of money they've raised.</p>
    {% include "_follow_links.html" %}
    <div class="spacer">&nbsp;</div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{MEDIA_URL}}js/share.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.form.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/donate.js"></script>
{% endblock %}
