{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/index.css"/>
{% endblock %}

{% block content %}
<div id="westboro">&nbsp;</div>
<div class="sabpanel" id="invitationpanel">
  <h2>Westboro is planning to protest Elizabeth Taylor's public memorial service.</h2>
  <p>
    Pledge a donation to the Elizabeth Taylor AIDS Foundation for every hour they spend protesting.
  </p>
  <a class="button" href="{% url main:donate %}"><span>I'm in</span></a>
</div>
{% endblock %}
