{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/index1.css"/>
{% endblock %}

{% block content %}

<div class=block>
These bigots<br>
<img src='{{MEDIA_URL}}images/wbc2.jpg' style="width: 336px; height: 175px; padding: 5px; margin: 0 auto;"></img>
<br>
are protesting
Elizabeth Taylor’s funeral.
<br>
<div class=h2>For every hour they protest, you can</div>

<div style="clear: both;"></div>

<a class=some-button href="#"><span>Pledge to Liz Taylor’s<br> AIDS foundation</span></a>

</div>

{% endblock %}
